@import "./index.css";


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .controls {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .controls > * {
    margin-right: 10px;
  }
  
h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
textarea {
    flex: 1;
    margin-right: 10px;
    width: 80%;
    height: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #181818;
    border: 2px solid #fff;
    border-radius: 10px;
}


input {
    color: #fff;
    margin-bottom: 1rem;
    width: 50px;
    padding: 5px;
    font-size: 1rem;
    background-color: #181818;
    border: 1px solid #fff;
    border-radius: 5px;
}

button {
    background-color: gray;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
}

p {
    margin-top: 1rem;
    font-size: 1rem;
}

.visualization {
    display: flex;
    font-size: 1.5rem;
    margin-top: 1rem;
    overflow: hidden;
    flex: 1;
    margin-right: 10px;
    width: 80%;
    height: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #181818;
    border: 1px solid #fff;
    border-radius: 5px;

}

.animated-text {
    display: inline-block;
    opacity: 0;
    animation: fadeInSlow 0.8s forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
@keyframes fadeInSlow {
    to {
        opacity: 1;
    }
}
