@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
.spacer{
    height: 10%;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: #181818;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
h1{
    font-size: 5rem;
}
header {
    position: fixed;
    width: 100%;
    background-color: #181818;
    z-index: 1000;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 1rem;
    cursor: pointer;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title span#hidden {
    display: none;

}

.title:hover span#hidden {
    display: inline;
    
    opacity: 100;
}
.title:hover span#shown {
   
    display: none
}

